# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg
venv/
.venv/
env/

# Output
output/
*.json
*.csv

# Config secrets
*.secret.yaml
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# OpenSpec - no versionar
openspec/changes/*/specs/
openspec/specs/
openspec/changes/archive/
